<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Forum</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/style.css" type="text/css" />
    </head>

    <body>
        <h1>TIKAPE-KESKUSTELUFOORUMI</h1>
        <table>
            <thead>
                <tr>
                    <td class="left">Alue</td><td>Keskustelunavauksia</td>
                    <td>Viestej&#228;</td><td class="aika">Uusin viesti</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ka : ${keskustelualueet}">
                    <td class="left"><a th:href="${'/topic/' + ka[0]}"><span th:text="${ka[1]}"></span></a></td>
                    <td th:text="${ka[2]}"></td>
                    <td th:text="${ka[3]}"></td>
                    <td th:text="${ka[4]}"></td>

                </tr>
            </tbody>
        </table>

        <div class="lomake">
            <form method="POST" th:action="@{~/uusialue}">
                <div>
                    <span>Nimimerkki: </span><br/>
                    <input type="text" name="name" maxlength="20" required="true"/><br/>
                    <span> Uuden alueen nimi: </span><br/>
                    <input type="text" name="topic" maxlength="50" required="true"/><br/>
                </div>
                <div>
                    <textarea class="text" name="aloitus" maxlength="1000" required="true">Anna lyhyt kuvaus alueesta</textarea>
                </div>
                <input type="submit" name="button" value="lis&#228;&#228; keskustelualue"/>
            </form>
        </div>
        
        <h2 th:if="${warn} == true">Alueen nimi on jo käytössä!</h2>
        <h2 th:if="${longmsg} == true">Liian pitkä alueen kuvaus! (max. 1000 merkkiä)</h2>

    </body>
</html>