<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelu</title>
        <meta charset="UTF-8"></meta>
        <link rel="stylesheet" href="/style.css" type="text/css" />
    </head>

    <body>
        <h1><a href="/">TIKAPE-KESKUSTELUFOORUMI</a></h1>
        <h2><a href="/">Etusivu</a> / 
            <a th:href="${'/topic/' + alueenId}"><span th:text="${aihe}"></span></a>
            / <span th:text="${otsikko}"></span></h2>

        <table>
            <thead>
                <tr>
                    <td class="left">Nimimerkki</td><td>aika</td><td class="left">viesti</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="v : ${viestit}">
                    <td class="left" th:text="${v[3]}"></td>
                    <td th:text="${v[5]}"></td>
                    <td class="left" th:text="${v[4]}"></td>
                </tr>
            </tbody>
        </table>
        
        <div class="nav">
            <a th:href="${'/thread/' + avauksenId + '?sivu=' + edellinen}">Edelliset viestit</a>
            <a th:href="${'/thread/' + avauksenId + '?sivu=' + seuraava}">Seuraavat viestit</a>
        </div>

        <div class="lomake">
            <form method="POST" th:action="@{~/msg(alue=${alueenId},avaus=${avauksenId},sivu=${sivu})}">
                <label>Nimimerkki: </label><br/>
                <input type="text" name="name" maxlength="20" required="true"/><br/>
                <textarea id="message" class="text" cols="70" rows ="20" name="message" required="true">kirjoita viesti t&#228;h&#228;n</textarea>
                <input type="submit" name="button" value="l&#228;het&#228; viesti"/>
            </form>
        </div>
    </body>
</html>