<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelu</title>
        <meta charset="UTF-8"></meta>
        <link rel="stylesheet" href="/style.css" type="text/css" />
    </head>

    <body>
        <h1><a href="/">TIKAPE-KESKUSTELUFOORUMI</a></h1>
        <h2><a th:href="${'/topic/' + alueenId}"><span th:text="${aihe}"></span></a> / <span th:text="${otsikko}"></span></h2>

        <table>
            <thead>
                <tr>
                    <td class="left">Nimimerkki</td><td>aika</td><td class="left">viesti</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="v : ${viestit}">
                    <td class="left" th:text="${v[3]}"></td>
                    <td th:text="${v[5]}"></td>
                    <td class="left" th:text="${v[4]}"></td>
                </tr>
            </tbody>
        </table>

        <div class="lomake">
            <form method="POST" th:action="@{~/msg(alue=${alueenId},avaus=${avauksenId})}">
                <textarea id="message" class="text" cols="50" rows ="20" name="message">kirjoita viesti t&#228;h&#228;n</textarea>

                <div>
                    <label>Nimimerkki: </label>
                    <input type="text" name="name"/>
                    <input type="submit" value="l&#228;het&#228; viesti"/>
                </div>
            </form>
        </div>
    </body>
</html>