<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelu</title>
        <meta charset="UTF-8"></meta>
    </head>

    <body>
        <h1><a href="/">TIKAPE-KESKUSTELUFOORUMI</a></h1>
        <h2><a th:href="${'/topic/' + alueenId}"><span th:text="${aihe}"></span></a> / <span th:text="${otsikko}"></span></h2>

        <table>
            <thead>
                <tr>
                    <td>Nimimerkki</td><td>aika</td><td>viesti</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="v : ${viestit}">
                    <td th:text="${v[3]}"></td>
                    <td th:text="${v[5]}"></td>
                    <td th:text="${v[4]}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>