<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelunavaus</title>
        <meta charset="UTF-8"></meta>
    </head>

    <body>
        <h1><a href="/">TIKAPE-KESKUSTELUFOORUMI</a></h1>
        <h2 th:text="${aihe}"></h2>
        <table>
            <thead>
                <tr>
                    <td>Alue</td><td>Viestejä</td><td>Uusin viesti</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="th : ${threads}">
                    <td><a th:href="${'/thread/' + th[0]}"><span th:text="${th[1]}"></span></a></td>
                    <td th:text="${th[2]}"></td>
                    <td th:text="${th[3]}"></td>
                </tr>
            </tbody>
        </table>
        <form method="POST" th:action="@{~/topic/uusiavaus(aihe=${aihe})}">
            <div>
                <span>Keskustelun otsikko:</span>
                <input type="text" name="title"/>
            </div>
            <div>
                <textarea id="msg" class="text" cols="50" rows="20" name="msg">aloitusviesti</textarea>
            </div>
            <span>Nimimerkki:</span>
            <input type="text" name="name"></input>
            <input type="submit" value="lähetä"/>
        </form>
    </body>
</html>
