<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelunavaus</title>
        <meta charset="UTF-8"></meta>
        <link rel="stylesheet" href="/style.css" type="text/css" />
    </head>

    <body>
        <h1><a href="/">TIKAPE-KESKUSTELUFOORUMI</a></h1>
        <h2><a href="/">Etusivu</a> / 
           <span th:text="${aihe}"></span></h2>
        <table>
            <thead>
                <tr>
                    <td class="left">Keskustelunavaus</td><td>Viestej&#228;</td><td class="aika">Uusin viesti</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="th : ${threads}">
                    <td class="left"><a th:href="${'/thread/' + th[0] + '?sivu=1'}"><span th:text="${th[1]}"></span></a></td>
                    <td th:text="${th[2]}"></td>
                    <td th:text="${th[3]}"></td>
                </tr>
            </tbody>
        </table>

        <div class="lomake">
            <form method="POST" th:action="@{~/topic/uusiavaus(alueId=${alueId})}">
                <div>
                    <span>Nimimerkki:</span><br/>
                    <input type="text" name="name" maxlength="20" required="true"></input><br/>
                    <span>Keskustelun otsikko:</span><br/>
                    <input type="text" name="title" maxlength="50" required="true"/><br/>
                </div>
                <div>
                    <textarea id="msg" class="text" cols="50" rows="20" name="msg" maxlength="1000" required="true">aloitusviesti</textarea>
                </div>
                <input type="submit" name="button" value="lis&#228;&#228; keskustelunavaus"/>
            </form>
        </div>
        
        <h2 th:if="${longmsg} == true">Liian pitkä aloitusviesti! (max. 1000 merkkiä)</h2>

    </body>
</html>
