<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelunavaus</title>
        <meta charset="UTF-8"></meta>
    </head>

    <body>
        <table>
            <thead>
                <tr>
                    <td>Alue</td><td>Viestejä</td><td>Uusin viesti</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="th : ${threads}">
                    <td><a th:href="${'/thread/' + th[3]}"><span th:text="${th[0]}"></span></a></td>
                    <td th:text="${th[1]}"></td>
                    <td th:text="${th[2]}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
